@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


:root{
    --font-logo:'Kaushan Script', cursive;
    --white:#407880;
    --purple:#2b1055;
    --blue:#7597de;
    --bg-night:linear-gradient(#2b1055,#7597de);
    --bg-day:linear-gradient(#acf5fb,#cdf9ff);
    /* #acf5fb,#cdf9ff */
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

    
}
body{
    transition: 2000ms;
    background: var(--bg-day);
    min-height: 100vh;
    overflow-x: hidden;    
}

.bodyNight{
    animation: bgcolor 2s linear;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 200px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 10000;
}

header .logo{
    font-family: var(--font-logo);
    color: var(--white);
    font-weight: 400;
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    color: var(--white);
    padding:6px 15px;
    transition: 1s;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active{
    background-color: var(--white);;
    color:var(--purple)
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stars{
    display: none;
    
}

#moon{
    display: none;
}

/* section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,var(--purple),transparent);
    z-index: 200000;
} */

section img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/* .divSol{
    position: absolute;
    left: 80px;
} */

.sol{
    position: absolute;
    max-width: 10%;
    height: auto;
    left: 85%;
    top: 10px;
}
.solRaio{
    left:84.8%;
    top:7px;
    max-width:10.3%;
    animation: rotation 8s infinite linear;
}

section img.nuvem{
    position: absolute;
    max-width: 20%;
    height: auto;
}

#nuvem1{
    top:50px;
    left:-140px;
}

#nuvem2{
    top:700px;
    left:-150px;
    
}

#nuvem3{
    top:180px;
    left:-1000px;
}

#nuvem4{
    top:650px;
    left:-1300px;
}
#nuvem5{
    top:450px;
    left:-900px;
    transform: scaleX(-1);
}
#nuvem6{
    top:400px;
    left:-220px;
    max-width: 18%;
    transform: scaleX(-1);
    z-index: 10;
    opacity: 70%;
}

#nuvem7{
    top:700px;
    left:700px;
    transform: scaleX(-1);
}
#nuvem8{
    top:650px;
    left:1300px;
    transform: scaleX(-1);
}
#nuvem9{
    top:180px;
    left:1000px;
    transform: scaleX(-1);
}

section img#mountains_front{
    z-index: 10;
}

#cover{
    position: absolute;
    color:var(--white);
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9;
    animation: bounce 4s infinite linear;
}



.btn{
font-family: "Roboto", sans-serif;
text-decoration: none;
font-weight: 0;
font-size: 1.5em;
color: #2b1055;
background-color: #fff;
padding: 10px 30px;
border: solid #fff 2px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(100px);
display: flex;
flex-direction:row-reverse;
align-items: center;
cursor: pointer;
z-index: 9;
}

.btn:hover{
transition : 1000ms;
transform : translateY(100px);
background-color: #2b1055;
color: #fff;
border: solid 2px #2b1055;
}

.icon-moon{
    flex-direction: row-reverse;
    width:20%; 
    margin-left:0px;
    margin-right:16px; 
}

.sec{
    position: relative;
    padding: 100px;
    display: flex;
    background-color: var(--purple);
    flex-direction: column;
    gap: 1.5em;
    /* margin:  1.5em 15em 1.5em 5em; */
    color:var(--white);
}

.sec h2{
    font-weight: 700;
    font-size: 4.5em;
    margin-bottom: 15px;
}
.sec p{
    font-size: 1em;
}

.sec h3{
    margin-top: 40px;
}

.sec ul {
    display: flex;
    gap: 1em;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce{
    from{
        transform:translateY(6px)
    }
    50%{
        transform:translateY(-6px);
    }
    to{
        transform:translateY(6px)
    }
}

@keyframes bgcolor{
    from{
        background-color: var(--bg-day);
    }
    to{
        background-color: var(--bg-night);
    }

}

@keyframes hidden {
    
}
