@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


:root{
    --font-logo:'Kaushan Script', cursive;
    --white:#fff;
    --purple:#2b1055;
    --blue:#7597de;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

    
}
body{
    background: linear-gradient(#2b1055,#7597de);
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 200px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 20000;
}

header .logo{
    font-family: var(--font-logo);
    color: var(--white);
    font-weight: 400;
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    color: var(--white);
    padding:6px 15px;
    transition: 1s;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active{
    background-color: var(--white);;
    color:var(--purple)
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,var(--purple),transparent);
    z-index: 200000;
}

section img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


section img#moon{
    mix-blend-mode: screen;
    position: absolute;
    left: 0;
}

section img#mountains_front{
    z-index: 10;
}

#cover{
    position: absolute;
    color:var(--white);
    white-space: nowrap;
    font-size: 5.5vw;
    right: -100px;
    z-index: 9;

}



.btn{
font-family: "Roboto", sans-serif;
text-decoration: none;
font-weight: 0;
font-size: 1.5em;
color: #fff;
background-color: #2b1055;
padding: 10px 30px;
border: solid #2b1055 2px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(100px);
display: flex;
flex-direction:row-reverse;
align-items: center;
cursor: pointer;
z-index: 9;
}

.btn:hover{
transition : 1000ms;
transform : translateY(100px);
background-color: #fff;
color: #2b1055;
border: solid 2px #fff;
}

.icon-moon{
    flex-direction: row-reverse;
    width:20%; 
    margin-left:0px;
    margin-right:16px; 
}

.sec{
    position: relative;
    padding: 100px;
    display: flex;
    background-color: var(--purple);
    flex-direction: column;
    gap: 1.5em;
    /* margin:  1.5em 15em 1.5em 5em; */
    color:var(--white);
}

.sec h2{
    font-weight: 700;
    font-size: 4.5em;
    margin-bottom: 15px;
}
.sec p{
    font-size: 1em;
}

.sec h3{
    margin-top: 40px;
}

.sec ul {
    display: flex;
    gap: 1em;
}





